.card-container{
  float:left;
}
.card{
  height: 500px;
  margin: 15px 0px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.card-title{
  text-align: center;
}
.instructor{
  text-align:center;
  font-weight: bold;
}
.price{
  font-weight:bold;
}
.duration,.level{
  font-weight: 600;
  color:gray;
}
.star-icon,.rating{
  color:#EB8A2F;
  font-weight:bold;
}
.student{
  float:right;
}
.badge{
  background-color: #FFE799;
  color:rgb(27, 25, 25);
}
.enroll{
  width: 50%;
  margin: auto;
  border-radius: 25px;
  background-color: #EB8A2F;
}



